  .mdx-columns3 {
    ol,
    ul {
      columns: 3;
      @include break-to-device(mobile portrait) {
        columns: initial;
      }
    }
   li {
      break-inside: avoid;
    }
  }
  .mdx-columns2 {
    ol,
    ul {
      columns: 2;
      @include break-to-device(mobile portrait) {
        columns: initial;
      }
    }
   li {
      break-inside: avoid;
    }
  }
  .center-table {
  text-align: center;
}
.md-typeset .center-table :is(td,th):not([align]) {
  text-align: initial; /* Reset alignment for table cells */
}

nav ul li a[href*="Protec"] {
    background-color: #ffcc00; /* Altere esta cor para a cor desejada */
}

/* Cor de fundo para o grupo de menu "Referência" */
nav ul li a[href*="referencia"] {
    background-color: #00ccff; /* Altere esta cor para a cor desejada */
}

